<div class="p-5">
  <h2 class="text-center">All our available flats!</h2>
</div>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
        <div class="col-4 card mb-3">
          <a href="/flats/<%= flat.id %>">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200"; alt="DefaultFlat">
              <div class="card-body">
                <h5 class="card-title"><%= flat.name %></h5>
                <p class="card-text"><%= flat.description %></p>
                <p class="card-text"><small class="text-muted"><%= flat.address %></small></p>
              </div>
          </a>
        </div>
    <% end %>
  </div>
</div>
